@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar styles */
.submitMessage::-webkit-scrollbar {
  width: 6px;
}
.submitMessage::-webkit-scrollbar-track {
  background-color: #3b3b3b;
  border-radius: 10px;
}
.submitMessage::-webkit-scrollbar-thumb {
  background-color: #747373;
  border-radius: 20%;
}

.chatWindow::-webkit-scrollbar {
  width: 8px;
}
.chatWindow::-webkit-scrollbar-track {
  background: none;
}
.chatWindow::-webkit-scrollbar-thumb {
  background-color: #747373;
  border-radius: 15%;
}
